$grid-breakpoints: ( 
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);
$container-width: 1000px;
$grid-columns: 12;
$grid-gap: 1rem;
$grid-gap-one-side: 1rem / 2;

$colors: ( 
	primary:    #007bff,
	secondary: #6c757d,
	danger:     #dc3545,
	success:  #28a745,
	warning: #ffc107,
	dark: #1a2424,
	light: #e8e9e9
);
$switcher-disabled-color: #777;
$snackbar-width: 20rem;

$card-color: #666;


